

/* Style the container with a rounded border, grey background and some padding and margin */
.block {
    border-radius: 23px;
    border: 2px solid rgb(20, 19, 19);
    background-color: transparent;
    backdrop-filter: blur(25px);
    padding: 16px;
    margin: 16px 0;
}

/* Clear floats after containers */
.block::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.block img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Increase the font-size of a span element */
.block span {
    font-size: 15px;
    margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: px) {
  .container1 {
    text-align: center;
  }

  .block img {
    margin: auto;
    float: none;
    display: block;
  }
}

.simple-rating{
    background-color: rgba(22, 16, 71, 0.97);;
    border-radius: 23px;
    position: relative;
    font-size: 30px;
    display: inline-block;
}
.simple-rating::before{
    content: "★★★★★";
    display: block;
    color: #b8af36;
}
.simple-rating__items{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-rating__items{
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon{
    position: relative;
    background: rgb(24, 25, 26);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background: #0053fa;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before{
    background: #00d3ef;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background:-webkit-linear-gradient(bottom right, #ffc54e 0%, #fc0538 50%, #6650f5 100%);
    color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before{
    background: #ff0000;
    color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before{
    background: #013fbc;
    color: #fff;
}

h4{

    color: #fff;
}
h3{
    text-align: center;
    padding: 0 0 20px;
    font-size: 30px;
}

h2{
    color: #fff;
}
h3{
    color: #fff;
}

 main{
    width: 300px;
    padding: 20px;
    border-radius: 23px;
    border: 2px solid rgb(20, 19, 19);
    background-color: transparent;
    backdrop-filter: blur(25px);
    margin: auto;
  }
  
  
  main header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
  }
  
  form{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  input[type="text"],
  input[type="email"]
{
    padding: 10px;
    border: 2px solid white;
    width: 100%;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    color: white;
  }




  
  .form_wrapper{
    border-radius: 23px;
    margin:auto;
    display: flex;
    align-items: center;
  }
  .divv{
    border-radius: 23px;
  }
 

  
  .remember{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
  }
  

  
  button{
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
  }

 
  p{
    color: white;
  }



