body {
    background-image: url('main_imgs/bg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    background-color: transparent;

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    position: relative;
    /*background-image: url('main_imgs/triang.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255); /* Set the base text color */
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: linear-gradient(to right, #8f8383, #0066ff); *//* Gradient for overlay */
    mix-blend-mode: overlay; /* Blend mode for the overlay */
}


nav {
    /* background-color: rgba(49, 49, 49, 0.98); */
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: inline-block; /* Ensures the links are on the same line */
}

nav a:hover {
    color: rgb(59, 61, 194); /* Blue color on hover */
}

.div_hh {
    border-radius: 23px;
    background-color: rgba(40, 40, 44, 0.9); /* Adjust the last value (0.7) for the desired opacity (0 is transparent, 1 is opaque) */
    color: rgb(234, 240, 255);
    width: 70%;
    margin: 25px auto ;
    text-align: center;
    font-size: 17px;
}

.ggh {
    background-color: rgba(40, 40, 44, 0.9);

}


.divf {
    margin-bottom: 50px;
}

div {
    /*background-color: rgba(0, 0, 0, 0.97); */
    background-color: rgba(12, 11, 11, 0.97); 
    color: #dadada;
    margin: 0 auto ;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
}


footer {
    background-image: url('main_imgs/triang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*czesc dla pricing*/

.logoimg {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: rgba(121, 120, 124, 0.35);
    background-color:   rgba(40, 40, 44, 0.9);;
    border-radius: 23px;
    width: 20%; /* Możesz dostosować na podstawie preferencji */
}


.logoimg .product_description {
    text-align: left;
    margin: 10px; /* Dodałem odstęp od tekstu do krawędzi kontenera */
}

.logoimg img {
    width: 100px; /* Dostosuj szerokość obrazków według potrzeb */
    height: auto; /* Zachowaj proporcje */
    border-radius: 23px;
}

.logoimg h2 {
    margin: 8px;
}

.pricing {
    font-size: 20px;
    margin-top: 20px;
}


button {
    display: inline-block;
    padding: 15px 20px; /* Dostosuj padding do preferencji */
    font-size: 16px; /* Dostosuj rozmiar czcionki do preferencji */
    width: 150px; /* Dostosuj szerokość przycisku do preferencji */
    height: 50px; /* Dostosuj wysokość przycisku do preferencji */
    text-align: center;
    text-decoration: none;
    background-color: #04115a; /* Kolor tła przycisku */
    color: #fff; /* Kolor tekstu przycisku */
    border-radius: 8px; /* Zaokrąglenie narożników */
    border: none; /* Usunięcie obramowania */
    cursor: pointer;
    }


.button_low:hover {
    background-color: #dadada;
}

.button_mid:hover {
    background-color: #14135a;
}

.button_high:hover {
    background-color: #0f4e22;
}

.product_description ul {
    list-style-type: none;
    padding: 0;
  }

.price_levels li{
    text-align: left;
}





/*czesc arkusza dla home*/

h1 {
    font-size: 30px;
}

.div_hh .alternating-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
}

.div_hh .alternating-content img {
    max-width: 45%; /* Adjust the image width as needed */
    border-radius: 23px;
    max-width: 150px;
    margin: 0 auto;
}

.div_hh .alternating-content p {
    max-width: 50%; /* Adjust the description width as needed */
    text-align: left;
    margin-left: 20px; 
}


.get_started {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
    margin-left: 25%;
}

.get_started img {
    width: 45%; /* Dostosuj szerokość obrazka według potrzeb */
    max-width: 110px; /* Maksymalna szerokość obrazka */
    height: auto; /* Zachowaj proporcje obrazka */
}

.get_started h2 {
    width: 45%; /* Dostosuj szerokość nagłówka według potrzeb */
    text-align: left;
    font-size: xx-large;
    margin-left: 40px;
}

/**/



.input-container {
    background-color: transparent;
    border-style: solid;
    border-color: rgb(26, 25, 25);
    margin: 25px;
    text-align: center;
    font-size: 17px;
    border-radius: 23px;
    display: inline-block;
    margin-bottom: 10px; /* Add space below the input containers */
    box-sizing: border-box; /* Include padding in width calculation */

    /* Initial width for larger screens */
    width: calc(50% - 60px);

}

@media (max-width: 768px) {
    .input-container {
        width: calc(100% - 20px); /* Full width on smaller screens */
    }
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: #fff;
    height: auto;
    resize: none;
    /* Add an explicit width property */
    width: 100%;
}

button {
    background-color: rgba(62, 62, 66, 0.9);;

}

button:hover {
    background-color:rgba(24, 24, 26, 0.97);

}