body {
    background-image: url('main_imgs/bg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    background-color: transparent;

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    position: relative;
    /*background-image: url('main_imgs/triang.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255); /* Set the base text color */
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: linear-gradient(to right, #8f8383, #0066ff); *//* Gradient for overlay */
    mix-blend-mode: overlay; /* Blend mode for the overlay */
}


nav {
    /* background-color: rgba(49, 49, 49, 0.98); */
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: inline-block; /* Ensures the links are on the same line */
}

nav a:hover {
    color: rgb(59, 61, 194); /* Blue color on hover */
}

.div_hh {
    border-radius: 23px;
    background-color: rgba(121, 120, 124, 0.35); /* Adjust the last value (0.7) for the desired opacity (0 is transparent, 1 is opaque) */
    color: rgb(234, 240, 255);
    width: 70%;
    margin: 25px auto ;
    text-align: center;
    font-size: 17px;
}

.ggh {
    background-color: rgba(40, 40, 44, 0.9);

}


.divf {
    margin-bottom: 50px;
}

div {
    /*background-color: rgba(0, 0, 0, 0.97); */
    background-color: rgba(12, 11, 11, 0.97); 
    color: #dadada;
    margin: 0 auto ;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
}


footer {
    background-image: url('main_imgs/triang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*czesc dla pricing*/

.logoimg {
    display: inline-block;
    margin: 10px;
    background-color: rgba(121, 120, 124, 0.35);
    border-radius: 23px;
    width: 20%;
    height: 40%;
}

.logoimg img {
    width: 100px; /* Dostosuj szerokość obrazków według potrzeb */
    height: auto; /* Zachowaj proporcje */
    border-radius: 23px;
}

.logoimg h2 {
    margin: 8px;
}

.pricing {
    font-size: 20px;
    margin-top: 0px;
}


button {
    display: inline-block;
    padding: 15px 20px; /* Dostosuj padding do preferencji */
    font-size: 16px; /* Dostosuj rozmiar czcionki do preferencji */
    width: 150px; /* Dostosuj szerokość przycisku do preferencji */
    height: 50px; /* Dostosuj wysokość przycisku do preferencji */
    text-align: center;
    text-decoration: none;
    background-color: #04115a; /* Kolor tła przycisku */
    color: #fff; /* Kolor tekstu przycisku */
    border-radius: 8px; /* Zaokrąglenie narożników */
    border: none; /* Usunięcie obramowania */
    cursor: pointer;
    }

button:hover {
    background-color: #121c6a; /* Kolor tła przycisku po najechaniu myszką */
}